---
import SocialList from "@/components/SocialList.astro";
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-12">Hello, I'm Tommy!</h1>
		<p class="mb-4">
			Hi, I'm Tommy Cheung, an AI Engineer passionate about applying cutting-edge algorithms,
			models, and tools to solve real-world problems. With a strong background in data science, I'm
			diving deep into the latest advancements in AI algorithms, large language models (LLMs), and
			AI agents—not for theory, but for practical impact. Currently seeking new opportunities, I
			love turning complex challenges into actionable solutions!
		</p>
		<SocialList />
	</section>
</PageLayout>
